.buzzwords {
  background-color: var(--mirage);
  min-width: 100%;
  padding-top: 48px;
  padding-bottom: 64px;
}

.content {
  display: flex;
  flex-direction: column;
}

.title {
  color: var(--tradewind);
}

.logos {
  color: var(--westar);
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.logo {
  margin-right: 24px;
  margin-bottom: 24px;
  min-width: 100px;
  max-height: 100px;
}

@media (min-width: 1024px) {
  .logos {
    justify-content: space-between;
  }
}
