.customers {
  background-color: var(--mirage);
  min-width: 100vw;
  margin-top: 64px;
  padding-top: 48px;
  padding-bottom: 64px;
}

.content {
  display: flex;
  flex-direction: column;
}

.title {
  color: var(--tradewind);
}

.logos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.logo {
  max-height: 52px;
  max-width: 180px;
}

@media (max-width: 1024px) {
  .logo {
    margin-bottom: 66px;
  }
  .title {
    margin-bottom: 40px;
  }
}

@media (min-width: 1024px) {

  .customers {
    padding-top: 60px;
    padding-bottom: 120px;
  }
  

  .logos {
    display: flex;
    flex-direction: row;
  }

  .logo {
    margin-right: 38px;
  }
}