.gasell {
  background-color: var(--lily-blue);
  min-width: 100%;
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
  justify-content: center;
}

.image {
  width: 100%;
  height: 100%;
  max-width: 25vw;
}

@media (max-width: 768px) {
  .image {
    max-width: 60vw;
  }
}
