.container {
  margin-top: 56px;
  margin-bottom: 56px;
  border-radius: 8px;
  box-shadow: 0 2px 8px 4px #dbdad0;
}

.inputContainer {
  padding: 32px;
}

.title {
  font-family: 'ibm-plex-mono', monospace, -apple-system, BlinkMacSystemFont,
    'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 24px;
}

.input {
  display: block;
  background-color: var(--lily-blue);
  border-radius: 2px;
  border: solid 1px #1d3541;
  padding: 12px 16px;
  width: 150px;
  text-align: right;
  font-size: 18px;
  font-family: 'ibm-plex-mono', monospace, -apple-system, BlinkMacSystemFont,
    'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
}

.input:focus {
  border: solid 1px var(--tradewind);
  outline: none;
}

.inputSmall {
  width: 40px;
}

.label {
  display: block;
  font-size: 12px;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.labelSmall {
  font-size: 10px;
}

.inputs {
  display: grid;
  grid-gap: 32px;
}

.results {
  background-color: var(--lily-blue);
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.result {
  display: flex;
  justify-content: space-between;
  padding: 16px 32px;
}

.first {
  border-top: none;
}

.highlight {
  background-color: var(--gum-leaf);
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

@media (max-width: 768px) {
  .input {
    width: 100%;
    box-sizing: border-box;
  }
}

@media (min-width: 768px) {
  .inputs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 32px;
  }
}