.SalarySlider {
  position: relative;
  margin-top: 44px;
}

.moneyBox {
  position: relative;
  padding: 32px 0;
  text-align: center;
  user-select: none;
}

.money {
  font-size: 32px;
  font-weight: bold;
  margin: 0 16px;
}

.label {
  text-transform: uppercase;
}

.background {
  position: absolute;
  background-color: var(--lily-blue);
  top: 0;
  bottom: 0;
  left: 18%;
  right: 18%;
}

.slider {
  margin: 0 auto;
}

@media (min-width: 768px) {
  .slider {
    max-width: 50vw;
  }
  .background {
    left: 35%;
    right: 35%;
  }
}
