.slider {
  padding: 16px 0;
}

.bar {
  position: relative;
  height: 8px;
  background-color: var(--westar);
  border-radius: 4px;
  cursor: pointer;
}

.barFill {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: var(--tradewind);
}

.handle {
  position: absolute;
  top: -8px;
  border-radius: 50%;
  height: 24px;
  width: 24px;
  margin-left: -12px;
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.handle::after {
  content: '';
  display: block;
  position: absolute;
  border-radius: 50%;
  left: 8px;
  bottom: 8px;
  right: 8px;
  top: 8px;
  background-color: var(--mirage);
}
