.header {
  position: relative;
  height: 80vmin;
  overflow: hidden;
  background-image: url('./otto.jpg');
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  padding: 32px;
}

.headline {
  position: absolute;
  bottom: 0;
  left: 16px;
  right: 16px;
  color: white;
  background-color: var(--tradewind-transparent);

  padding: 16px 48px;
}

.intro {
  position: relative;
  display: flex;
  flex-direction: column;
}

.introHeadline {
  position: relative;
}

.introText {
  position: relative;
  align-self: flex-end;
}

.introBackground {
  position: absolute;
  background-color: var(--lily-blue);
  top: 0;
  bottom: 0;
  left: 18%;
  right: 18%;
}

@media (min-width: 768px) {
  .headline {
    max-width: 40vw;
    left: 32px;
    right: auto;
  }
  .introText,
  .introHeadline {
    max-width: 65%;
  }
}
