.contact {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
}

.left {
  padding-top: 32px;
  max-width: 300px;
}

.left p {
  margin-top: 0;
}

.list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 8px;
  padding-top: 32px;
}

.mail {
  grid-column-start: 1;
}
@media (min-width: 720px) {
  .contact {
    flex-direction: row;
  }
}
