.header {
  position: relative;
  height: 145vmin;
  overflow: hidden;
}

.heroImage, video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: left;
}

.content {
  padding: 32px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.headline {
  position: absolute;
  bottom: 0;
  left: 16px;
  right: 16px;
  color: white;
  background-color: var(--tradewind-transparent);

  padding: 16px 16px;
}

.logo {
  width: 150px;
}

@media (min-width: 768px) {
  .headline {
    max-width: 40vmax;
    left: 32px;
    right: auto;
    padding: 16px 48px;
  }
  .header {
    height: 85vmin;
  }
  .heroImage {
    object-position: center;
  }
}
