.grid {
  column-count: 3;
  column-gap: 0px;
  margin-top: 36px;
}

.wrapper {
  height: 80vmax;
  overflow: hidden;
}

.image {
  width: 100%;
  height: auto;
  display: block;
}

@media (min-width: 720px) {
  .grid {
    column-count: 4;
  }

  .wrapper {
    height: 50vmax;
  }
}

@media (min-width: 1024px) {
  .grid {
    column-count: 6;
  }
}

.masonry {
  display: flex;
  width: auto;
}

.masonryColumn {
  background-clip: padding-box;
}
