.section {
  background-color: var(--cashmere);
}

.people {
  display: flex;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  max-width: 100vw;
}

.person {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px;
  height: 400px;
  flex-basis: 200px;
  flex-shrink: 0;
  filter: brightness(0.5);
}

.highlight {
  opacity: 0;
}

.name {
  background-color: var(--tradewind-transparent);
  padding: 2px;
  margin-bottom: auto;
}

.quote {
  font-size: 12px;
}

.link {
  color: white;
  align-self: flex-end;
  text-decoration: none;
}

.linkText {
  text-decoration: underline;
}

.space {
  flex-basis: 100px;
  flex-shrink: 0;
}

@media (max-width: 755px) {
  .highlighted .highlight {
    opacity: 1;
    transition: opacity 0.25s;
  }

  .highlighted {
    filter: none;
  }
}

@media (min-width: 756px) {
  .person:hover .highlight {
    opacity: 1;
    transition: opacity 0.25s;
  }

  .person:hover {
    filter: none;
  }

  .space {
    display: none;
  }
}
