.SalarySlider {
  position: relative;
}

.moneyBox {
  position: relative;
  padding: 32px 0;
  text-align: center;
}

.money {
  font-size: 32px;
  font-weight: bold;
  margin: 0 16px;
}

.label {
  text-transform: uppercase;
}

.background {
  position: absolute;
  background-color: var(--lily-blue);
  top: 0;
  bottom: 0;
  left: 18%;
  right: 18%;
}

.slider {
  width: 50vw;
  margin: 0 auto;
}
