.square {
  border-radius: 8px;
  display: flex;
  height: 364px;
  cursor: pointer;
  text-decoration: none;
  margin-bottom: 16px;
}

.tradewind {
  background-color: var(--tradewind);
}

.cashmere {
  background-color: var(--cashmere);
}

.citrus {
  background-color: var(--citrus);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 32px;
  flex: 1;
}

.link {
  text-decoration: none;
  color: var(--mirage) !important;
  text-decoration: underline;
}

.title {
  color: var(--mirage) !important;
}

.emoji {
  font-size: 96px;
  text-align: center;
  margin: 0;
}

@media (min-width: 600px) {
  .square {
    text-align: center;
  }
}

@media (min-width: 900px) {
  .square {
    margin-bottom: 0;
  }
  .squares {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 32px;
  }
}
